{% extends "bootstrap/base.html" %}

{% block title %} MyDiploma2017 {% endblock %}

{% block head %}
 {{ super() }}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
 <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/"><h3>Diploma2017 Demo Applicaiton</h3></a>
            </div>
        </div>
 </div>
{% endblock %}

{% block content %}
 <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
    {% endblock %}
 </div>
{% endblock %}

{% block scripts %}
 {{ super() }}
 {{ moment.include_moment() }}
{% endblock %}
