{% extends "base.html" %}


{% block page_content %}
  <div id="main" class="container">
  {% if elements %}
    <h2>Elements</h2>
    <table class="table table-hover">
      <tr>
        <th>Item
        <th>Title
        <th>Body
        <th>Date
      {% for element in elements %}
      <tr class="{{ "success" if element.done }}">
        <td><a href="/elements/{{ element.id }}">{{ element.id }}</a>
        <td style="{{ "text-decoration:line-through" if element.done }}">{{ element.title }}
          <td>{{ element.body }}</td>
        <td>{{ element.publication_date.strftime('%Y-%m-%d %H:%M') }}
      {% endfor %}
    </table>
    <p>
      <a href="{{ url_for('main.new') }}" class="btn btn-large btn-primary">New Element</a>
  {% else %}
   <div class="jumbotron">
    <h1>Welcome..</h1>
    <h3>Please create your first Element.</h3>
    <a href="{{ url_for('main.new') }}" class="btn btn-large btn-primary">New Element</a>
   </div>
  {% endif %}
  </div>



{% endblock %}
