{% extends "base.html" %}

{% block page_content %}
  <form action="" method="post" class="form-horizontal">
    <h3>Element details</h3>
    <div class="form-group">
        <div class="">
          <input type="text" id="title" name="title" class="form-control input-xlarge"
            placeholder="Please give title to element item" value="{{ element.title }}"
            required>
        </div>
    </div>

    <div class="form-group">
        <div class="">
          <textarea name="body" rows=10 class="form-control input-xlarge" placeholder="describle the element item" required>{{ element.body }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="">
          <label>Done?</label>
          <input type=checkbox name=done.{{ element.id }}{{ "checked" if element.done }}>
        </div>
    </div>


    <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-success">Update Element</button>

          <a href="{{ url_for('main.index') }}"><button type="button" class="btn btn-info">Back to list</button></a>
        </div>
    </div>
  </form>

  <div class="text-right">
    <a href="{{ url_for('main.delete', element_id=element.id) }}"><button type="submit" class="btn btn-danger">Delete Element</button></a>
  </div>

{% endblock %}
